<form class="rowExtender" novalidate name="editForm" ng-controller="extenderctrl">
    
    <div class="extenderTitle" ng-init="objectInOper=getOperationDataObject();column=getColumns()">      
        {{objectInOper.oper===config.OPER_ADD?'Add a new object':'Edit the object'}}
    </div>
    
    <table>
        <thead>
            <tr>
                <th class="headerCol">Property</th>
                <th class="headerCol">Value</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="labelCol">{{column[0].label}}</td>
                <td class="valueCol">
                    <div class="textField" ng-init="objectInOper.data[column[0].prop]=getNextId()"
                         ng-if="objectInOper.oper===config.OPER_ADD">{{objectInOper.data[column[0].prop]}}
                    </div>
                    <div class="textField" ng-if="objectInOper.oper===config.OPER_EDIT">
                        {{objectInOper.data[column[0].prop]}}
                    </div>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[1].label}}</td>
                <td class="valueCol">
                    <input class="checkbox" ng-model="objectInOper.data[column[1].prop]" type="checkbox"/>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[2].label}}</td>
                <td class="valueCol">
                    <input class="textInput"
                           ng-model="objectInOper.data['car']['price']"
                           placeholder="{{column[2].label}}"
                           type="text"
                           name="car_price" ng-pattern="/^[+-]?\d{1,9}\.\d{1,2}$/" required/>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[3].label}}</td>
                <td class="valueCol">
                    <select class="selectMenu"
                            name="class"
                            ng-model="objectInOper.data['car']['features']"
                            ng-options="features.value as features.label for features in [{label: 'Set 1', value: 1}, {label: 'Set 2', value: 2}, {label: 'Set 3', value: 3}]"></select>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[4].label}}</td>
                <td class="valueCol">
                    <input class="textInput"
                           ng-model="objectInOper.data['car']['age']"
                           placeholder="{{column[4].label}}"
                           type="number"
                           name="car_age" min="1" max="60" required/>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[5].label}}</td>
                <td class="valueCol">
                    <input class="textInput"
                           ng-model="objectInOper.data[column[5].prop]"
                           placeholder="{{column[5].label}}"
                           type="text"
                           name="name" ng-maxlength="50" required/>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[6].label}}</td>
                <td class="valueCol">
                    <input class="textInput"
                           ng-model="objectInOper.data[column[6].prop]"
                           placeholder="{{column[6].label}}"
                           type="text"
                           name="date" ng-pattern="/^\d{4}[-/.]\d{2,2}[-/.]\d{2,2}$/" required/>
                </td>
            </tr>

            <tr>
                <td class="labelCol">{{column[7].label}}</td>
                <td class="valueCol">         
                    <textarea rows="4" class="textArea"
                            placeholder="{{column[7].label}}"
                              ng-model="objectInOper.data[column[7].prop]"
                            name="about" required></textarea>
                </td>
            </tr>
            
        </tbody>
    </table>  
    
    <div class="tableFooter rowExtenderFooter">
        <button class="rowExtenderBtn rowExtenderBtnColor" ng-click="acceptClicked(objectInOper.oper)"
                ng-disabled="!editForm.$valid">
            OK
            <span class="icon icon-check rowExtenderBtnIcon rowExtenderBtnIconGreen"></span> 
        </button>
        <button class="rowExtenderBtn rowExtenderBtnColor" ng-click="cancelClicked();">
            Cancel
            <span class="icon icon-cross rowExtenderBtnIcon rowExtenderBtnIconRed"></span> 
        </button>
    </div>

    <div class="error" ng-show="editForm.car_price.$error.required && !editForm.car_price.$pristine">{{column[2].label}}
        - value is required!
    </div>
    <div class="error" ng-show="editForm.car_price.$error.pattern && !editForm.car_price.$pristine">{{column[2].label}}
        - number with two decimals is allowed!
    </div>

    <div class="error" ng-show="editForm.car_age.$error.required && !editForm.car_age.$pristine">{{column[4].label}} -
        value is required!
    </div>
    <div class="error"
         ng-show="(editForm.car_age.$error.min || editForm.car_age.$error.max || editForm.car_age.$error.number) && !editForm.car_age.$pristine">
        {{column[4].label}} - integer between 1 and 60 is allowed!
    </div>

    <div class="error" ng-show="editForm.name.$error.required && !editForm.name.$pristine">{{column[5].label}} - value
        is required!
    </div>
    <div class="error" ng-show="editForm.name.$error.maxlength && !editForm.name.$pristine">{{column[5].label}} -
        maximum length is 60 characters!
    </div>

    <div class="error" ng-show="editForm.date.$error.required && !editForm.date.$pristine">{{column[6].label}} - value is required!</div>
    <div class="error" ng-show="editForm.date.$error.pattern && !editForm.date.$pristine">{{column[6].label}} - is not in the valid format (YYYY-MM-dd)!</div>
    
    <div class="error" ng-show="editForm.about.$error.required && !editForm.about.$pristine">{{column[7].label}} - value is required!</div>
</form>
